@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.list-margin-start-removed {
  margin-block-start: 0;
}

.nav-indicator {
  @apply bg-slate-500;
  display: inline-block;
  width: 2rem;
  height: 1px;
  transition: ease-in-out .1s;
}

.nav-text {
  transition: ease-in-out .1s;
}

.nav-item-hover:hover .nav-indicator-selected {
  @apply bg-slate-200;
  width: 4rem;
}

.nav-item-hover:hover .nav-indicator-selected {
  @apply bg-slate-200;
  width: 4rem;
}

.nav-item-hover:hover .nav-text {
  @apply text-slate-200;
}
